.idx {
  &src {
    padding: 15px 10px;
    background: #eee;
    margin-bottom: 18px;
    &__title {
      font-size: 1.6rem;
      margin-bottom: 16px;
    }
    &__group {
      display: flex;
      margin-bottom: 8px;
      label {
        width: 160px;
      }
      input {
        width: calc(100% - 160px);
      }
    }
    &__submit {
      padding-left: 160px;
    }
  }
  &ctt {
    &__item {
      margin-bottom: 30px;
    }
    &__title {
      font-size: 1.8rem;
      margin-bottom: 10px;
      span {
        font-weight: normal;
        font-size: 1.2rem;
      }
    }
    &__table {
      margin-bottom: 16px;
      tr {
        th, td {
          padding: 5px 10px;
        }
      }
    }
  }
}