.idx {
  &ctt {
    &__item {
      margin-bottom: 30px;
    }
    &__title {
      font-size: 1.8rem;
      margin-bottom: 10px;
    }
    &__table {
      tr {
        th, td {
          border: solid 1px;
          padding: 5px 10px;
        }
      }
    }
  }
}