<div class="pagettl">
  <h2 class="pagettl__title">お問い合わせ一覧</h2>
</div>
<div class="idxctt">
  <div class="idxctt__item">
    <%= render 'search_box' %>
    <%= render 'table', contacts: @contacts %>
  </div>
</div>