<header class="header">
  <div class="container header__container">
    <div class="header__logo">
      <h1 class="header__title">問い合わせ管理システム</h1>
    </div>
    <nav class="gnav">
      <ul class="gnav__list">
        <li><a href="#"><i class="fas fa-search"></i>メニュー１</a></li>
        <li><a href="#"><i class="fab fa-github"></i>メニュー２</a></li>
        <div class="gnav__outer">
      </ul>
    </nav>
  </div>
</header>