<header class="header">
  <div class="container header__container">
    <div class="header__logo">
      <h1 class="header__title">
        <%= link_to '問い合わせ管理システム', root_path %>
      </h1>
    </div>
    <nav class="gnav">
      <ul class="gnav__list">
        <li>
          <%= link_to(closed_contacts_path) do %>
            対応済
          <% end %>
        </li>
        <div class="gnav__outer">
      </ul>
    </nav>
  </div>
</header>